.item-container {
    margin: 0em 1em 2em 1em;
    box-shadow: 0em 0em 0em var(--secondary-orange), 0em 0em 0em var(--secondary-orange);
    transition: box-shadow 1s ease-out;
    -webkit-transition: box-shadow 1s ease-out;
    -moz-transition: box-shadow 1s ease-out;
    -ms-transition: box-shadow 1s ease-out;
    -o-transition: box-shadow 1s ease-out;
}

.item {
    cursor: pointer;
    position: relative;
    width: 20em;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15em;
    margin: 1em;
    box-shadow: 0em 0em 0em var(--secondary-orange), 0em 0em 0em var(--secondary-orange);
    transition: box-shadow 1s ease-out;
    position: relative;
    -webkit-transition: box-shadow 1s ease-out;
    -moz-transition: box-shadow 1s ease-out;
    -ms-transition: box-shadow 1s ease-out;
    -o-transition: box-shadow 1s ease-out;
}

.item:hover {

}

.item-header {
    padding: 1em;
}

.item-name {
    color: white;
    font-size: 1.5em;
}

.item-booknow {
    position: absolute;
    bottom: -1.5em;
    right: 50%;
    transform: translate(50%, 0%);
}

.item-booknowbutton {
    color: white;
    padding: .65em 1em;
    border-radius: 50%;
    font-size: 1.2em;
    font-weight: bold;
    border: .15em solid white;
    background-color: var(--secondary-orange);
}