.meet-flex {
    display: block;
    margin: auto;
    padding-top: 5em;
    height: 80vh;
    min-height: 530px;
}

.meet-flexitem {
    width: 100%;
    height: 85%;
}

.meet-button-container {
    width: 100%;
    text-align: center;
    padding-top: 2em;
}

#meet-morebutton {
    width: fit-content;
}

#meet-morebutton:hover {
    color: white
}

.meet-video {
    border: 0px;
    display: block;
    width: 80%;
    height: 100%;
    max-width: 65em;
    margin: auto
}

.meet-heading, .meet-text, .meet-morebutton {
    margin: 1em 0em;
}

.meet-text {
    font-size: 1.4em;
    padding: 1em 1em 1.5em 0em;
}

.meet-heading {
    padding-bottom: 0px;
    font-size: 2em;
    margin: 0px;
    text-align: left;
}

#meet-textflex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

@media only screen and (max-width: 840px) {
    .meet-flex {
        height: 65vh;
    }

    #meet-textflex {
        font-size: .9em;
    }
}

@media only screen and (max-width: 670px) {
    .meet-flex {
        flex-direction: column;
    }

    .meet-flexitem {
        width: 100%;
    }

    #meet-textflex {
        width: 90%;
    }

    .meet-heading {
        padding-top: 1em;
    }
}
