.navbar {
    position: sticky;
    width: 100%;
    margin: auto;
    text-align: center;
    z-index: 50;
    background-color: white;
}

.navbar-link {
    font-size: 1.2em;
    font-family: Futura, sans-serif;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: .5em 2em;
    color: rgb(72,31,75);
}

.navbar-main-nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: nowrap;
}

.navbar-logo-container {
    width: 15em;
}
.navbar-logo {
    height: 100%;
}

.navbar-submenu {
    display: flex;
    align-items: center;
    padding: 0px;
    flex-direction: column;
}

.navbar-social-flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 0%;
    right: 5%;
    border-bottom: .1em solid rgba(95, 79, 80, .1);
}

.navbar-social {
    height: 100%;
    width: auto;
    padding: 0em .5em;
}

.navbar-social:hover {
    cursor: pointer;
}

.navbar-socialimage {
    width: 1.5em;
    fill: #fde5b7;
    transition: fill 500ms;
    -webkit-transition: fill 500ms;
    -moz-transition: fill 500ms;
    -ms-transition: fill 500ms;
    -o-transition: fill 500ms;
}

.navbar-socialimage:hover {
    fill: var(--secondary-orange);
}

.navbar-link:hover {
    transition: color 500ms;
    color: rgb(198, 171, 210);
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
}

.navbar-submenu-children {
    display: inline;
}
/* .navbar-link:active {
    transition: font-size 100ms;
    font-size: 2rem
} */

.navbar-menuRetracted {
    position: fixed;
    top: 1em;
    right: 1em;
}

@media only screen and (max-width: 1070px) {
    .navbar-link {
        font-size: 1em;
        padding: .5em 1.5em;

    }
}

@media only screen and (max-width: 770px) {
    .navbar-socialimage {
        width: 1.2em;
    }


}
@media only screen and (max-width: 770px) and (min-width: 600px) {
    .navbar-link {
        font-size: .8em;

    }
}