
.navBar-bar {
    width: 100%;
    position: fixed;
    margin: auto;
    text-align: center;
    z-index: 50;
    background-color: rgb(198, 171, 210);

}

.navBar-link {
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    display: inline-block;
    margin: auto;
    padding: 10px;
    color: white;
}

.navBar-link:hover {
    transition: color 500ms;
    color: rgb(72,31,75);
    -webkit-transition: color 500ms;
    -moz-transition: color 500ms;
    -ms-transition: color 500ms;
    -o-transition: color 500ms;
}
.navBar-link:active {
    transition: font-size 100ms;
    font-size: 2rem
}