.divider {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.divider-text { 
    font-family: bivoac-regular;
    font-size: 2em;
    padding: 1em 0em;
}

.divider-futura {
    font-family: Futura;
}

.divider-textglow {
    text-shadow: 0 0 30px var(--secondary-orange);
}