
.dividergraphic-container {
    width: 100%;
}

.dividergraphic-svgContainer {
    display: inline-block;
    height: 1.2em;
}

#dividergraphic-lineContainer {
    width: 95%;
}

#dividergraphic-circleContainer {
    width: 5%;
}

#dividergraphic-lineInbetween {
    width: 47%;
}



