#singleoffer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: 2em;
    height: 35em;
}

.singleoffer-imagecontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

#singleoffer-image {
    display: block;
    width: 80%;
    height: 100%;
}

.singleoffer-information-container {
    width: 50%;
    overflow: hidden;
}

.singleoffer-information {
    text-align: left;
    padding-right: 17px;
    margin-bottom: 3em;
    overflow-y: scroll;
    width: 100%;
    height: 100%;
}

#singleoffer-name {
    padding-bottom: 1.5em;
}

.singleoffer-variation, #singleoffer-descriptiontitle {
    border-top: 2px solid #686566;
}

.singleoffer-variation {
    padding: 1.5em 0em;
}

#singleoffer-descriptiontitle {
    padding: 1.5em 0em .5em 0em;
}
