#singleoffering-titlecard {
    
}

#singleoffer {
    display: grid;
    grid-template-areas: "image description";
    grid-template-rows: 1fr 1fr;
}

.singleoffer-imagecontainer {
    grid-area: image;
    width: 50%;
}

#singleoffer-image {
    display: block;
    width: 80%;
    margin: auto;
}

.singleoffer-information {
    grid-area: description;
}