.aboutsection-flexcontainer {
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    flex-wrap: wrap;
}

.aboutsection-flexbox {
    width: 22%;
    height: 20em;
}
.aboutsection-flexbox:hover {
    cursor: pointer;
}

.aboutsection-image-container {
    overflow: hidden;
    height: 100%;
    position: relative;
}
.aboutsection-image {
    height: 108%;
}

.aboutsection-keyword {
    font-family: bivoac-regular;
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: white;
    font-size: 2.5em;
    padding-left: .1em;
    text-shadow: 0em 0em 1em black;
}

.aboutsection-text-container {
    width: 75%;
    text-align: left;
    margin: 2% auto 6% auto;
    height: 8em;
}

.aboutsection-text {
    opacity: 0;
    transition: opacity 500ms;
    -webkit-transition: opacity 500ms;
    -moz-transition: opacity 500ms;
    -ms-transition: opacity 500ms;
    -o-transition: opacity 500ms;
}
.aboutsection-text.fade {
    opacity: 100;
}
