.whyvibe {
    margin: auto;
}

#whyvibe-titlecard {
    height: 50vh;
}

.whyvibe-careers {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.whyvibe-careersItem {

}

#whyvibe-footnote {
    padding: 2em;
    width: 80%;
    margin: auto;
}

/* --------------Value Card Section------------- */

.valuecards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    
}

.valuecard {
    width: 18em;
    border: .1em solid var(--secondary-orange);
    margin: 1em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-shadow: 5px 5px 10px var(--secondary-orange);
}

.valucard-titleContainer {
    position: relative;
    height: 7em;
}

.valuecard-title {
    font-size: 1.5em;
    margin: 0em;
    position: absolute;
    bottom: 0;
    width: 100%;
}

.valucard-text {
    height: 11em;
    text-align: center;
    font-size: .8em;
    padding: .7em;
}

