/* BlogPost.css */
.blogpost-container {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

.blogpost-title {}

.blogpost-meta {}

.blogpost-author {}

.blogpost-date {}

.blogpost-content {
    margin-top: 1rem;
}