/* BlogPost.css */
.blogpost-container {
    border: 1px solid #ccc;
    padding: 1rem;
    border-radius: 8px;
}

.blogpost-header {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
}

.blogpost-title {
    
}

.blogpost-meta {}

.blogpost-author {}

.blogpost-date {}

.blogpost-content {
    margin-top: 1rem;
}