/*
  main - violet                         rgb(72,31,75)
  main complement - light purple        rgb(198, 171, 210)
  accent 1 - grey                       rgb(202, 201, 171)
  accent 2 - light blue                 rgb(183, 200, 219)
  accent 3 - light pink                 rgb(253, 229, 183)
  accent 4 - light orange               rgb(241, 199, 97)
*/

.biocard-title-container {
    width: 100%;
    text-align: center;
}

#biocard-title {
    color: rgb(163, 190, 221);
    margin-top: 5%;
    margin-bottom: 2%;
}

.biocard-flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 0%;
    margin:auto;
    width: 80%;
}

.biocard-flexbox {
    width: 25%;
    height: 500px;
    cursor: pointer;
    margin: 2%;
    border: 3px solid rgb(183, 200, 219);
    box-shadow: 0px 0px 0px rgb(183, 200, 219), 0px 0px 0px rgb(183, 200, 219);
    transition: box-shadow 1s ease-out, border 1s ease-out;
    -webkit-transition: box-shadow 1s ease-out, border 1s ease-out;
    -moz-transition: box-shadow 1s ease-out, border 1s ease-out;
    -ms-transition: box-shadow 1s ease-out, border 1s ease-out;
    -o-transition: box-shadow 1s ease-out, border 1s ease-out;
}

.biocard-flexbox:hover {
    box-shadow: 0px 0px 20px rgb(183, 200, 219), 0px 0px 20px rgb(183, 200, 219);
    border: 3px solid rgb(122, 164, 211);
}


.biocard-description-container {
    width: 100%;
    height: 50%;
}

.biocard-description {
    padding: 5%;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 70%;
}

.biocard-image-container {
    height: 50%;
    width: 100%;
    margin: auto;
    overflow: hidden;
}

.biocard-name {
    color: white;
    text-shadow: 0px 0px 10px black;
    position: relative;
    font-size: 2em;
    z-index: 10;
    top: 80%;
    left: 10%;
}

.biocard-image {
    width: auto;
    height: 172%;
    margin: auto;
    display: block;
    position: relative;
    top: -20%;
}