.biocard-flex-container {
    display: flex;
    justify-content: center;
    padding: 10%;
}

.biocard-flexbox {
    width: 25%;
    height: 500px;
}


.description-container {
    width: 100%;
    height: 30%;
}

.description {
    text-overflow: ellipsis;
    padding: 5%;
    overflow-y: scroll;
    scrollbar-width: none;
    height: 100%;
}

.biocard-image-container {
    height: 70%;
    width: 100%;
    margin: auto;
}

.biocard-image {
    width: auto;
    height: 100%;
    margin: auto;
    display: block;
}