.blogsection {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 2rem 0;
}

#blogsection-titlecard {
    height: 10em;
}

.blogsection-subtext {
    margin: auto;
    font-size: 1.2rem;
    text-align: center;
    width: 80%;
}

.blogsection-sparkle {
    width: 40px;
    height: 40px;
    margin: auto;
    fill: var(--main-accent-color);
}

@media (max-width: 600px) {
    .blogsection {
        gap: 1rem;
        padding: 1rem 0;
    }
}