.items-flex {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.items-item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 40% 45% 1fr;
    grid-template-areas: 
        "image name name"
        "description description description"
        "button button button";
    align-items: center;
    justify-content: space-around;
    width: 45%;
    height: 400px;
    border: 2px solid grey;
    margin: 2em;
}

.items-image-container {
    grid-area: image;
    overflow: hidden;
    height: 100%;
}

.items-image {
    height: 100%;
    width: auto;
}

.items-name {
    grid-area: name;
}

.items-description {
    grid-area: description;
    overflow-y: hidden;
    height: 100%;
}

.items-descriptiontext {
    overflow-y: scroll;
    height: 100%;
    font-size: 1em;
    padding: 1em;
}

.items-booknowbutton {
    grid-area: button;
    text-align: center;
}


