.signup-stickymain {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 15em;
    margin-top: -7.5em;
    margin-left: -25%;
    background: white;
    justify-content: space-between;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 1000ms;
    animation-fill-mode: forwards;
    z-index: 200;
}

.signup-link {
    text-align: center;
    width: 100%;
}

#signup-signupbutton {
    display: inline-block;
}

#signup-closecontainer {
    height: 4em;
}
.signup-close {
    height: 100%;
}

#signup-textcontainer {
    text-align: center;
    padding: 1em;
    width: 100%;
}   

#signup-closeButton {
    height: 100%;
    padding: 0px;
    border: none;
    fill: var(--secondary-orange);
    background-color: white;
    transition: fill 500ms;
    -webkit-transition: fill 500ms;
    -moz-transition: fill 500ms;
    -ms-transition: fill 500ms;
    -o-transition: fill 500ms;
}
#signup-closeButton:hover {
    fill: var(--main-color);
}

@media only screen and (max-width: 600px) {
    .signup-stickymain {
        width: 90%;
        height: 90%;
        margin-top: -45%;
        margin-left: -45%;
    }
}
