.signup-stickymain {
    display: flex;
    flex-direction: row;
    position: fixed;
    bottom: 0em;
    left: 0em;
    width: 100%;
    height: 5em;
    background: white;
    justify-content: space-between;
    align-items: center;
    animation-name: fadeIn;
    animation-duration: 500ms;
    animation-fill-mode: forwards;
}

.signup-logocontainer {
    padding-left: 1em;
    height: 100%;
}

.signup-logo {
    height: 100%;
}

.signup-close {
    padding-right: 1em;
}

.signup-link {
    height: 90%;
}