.infocard-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 10% 10% 10%;
    padding-top:0px;
    flex-wrap: wrap;
}

.infocard-flexbox {
    width: 22%;
    height: 450px;
}

#infocard-title {
    background: linear-gradient(45deg, rgb(72,31,75) 0%, rgb(183, 200, 219) 90%,  rgb(198, 171, 210) 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infocard-image-container {
    overflow: hidden;
    height: 70%;
    position: relative;
}

.infocard-image {
    height: 122%;
}

.infocard-keyword {
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: white;
    font-size: 3em;
    padding-left: .1em;
    text-shadow: 1px 1px 10px black;
}

.infocard-description {
    font-size: 3em;
}

.infocard-blurb {
    padding: 5%;
    background: linear-gradient(60deg, rgb(72,31,75) 0%,  rgb(111, 138, 169) 100%);
    color: white;
    text-shadow: 1px 1px 5px black;
    margin: auto;
    margin-bottom: 5%;
    width: 70%;
}