.infocard-flex-container {
    display: flex;
    justify-content: space-between;
    padding: 0% 10%;
    flex-wrap: wrap;
}

.infocard-flexbox {
    width: 22%;
    height: 25em;
}

#infocard-title {
    background: rgb(72,31,75);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.infocard-joinflexitem {
    width: 33.3%;
    margin: 0;
    height: 100%;
    overflow: hidden;
}

.infocard-joinflex {
    display: flex;
    width: 100%;
    flex-wrap: nowrap;
    justify-content: center;
    margin: auto;
    margin-bottom: 5%;
    height: 20em;
}

#infocard-leftimage-container {
    background-color: rgb(72,31,75);
}
#infocard-blurbimage {
    width: 130%;
    opacity: .9;
}

#infocard-joinlink {
    background-color: rgb(72,31,75);
    height: 100%;
    display:flex;
}

#infocard-join h2 {
    color: rgb(241, 199, 97);
    margin: 0%;
}

.infocard-image-container {
    overflow: hidden;
    height: 85%;
    position: relative;
}
.infocard-image {
    height: 108%;
}

.infocard-keyword {
    position: absolute;
    top: 50%;
    bottom: 50%;
    color: white;
    font-size: 3em;
    padding-left: .1em;
    text-shadow: 0em 0em 1em black;
}

.infocard-description {
    font-size: 1.3em;
    padding: 1em;
    font-weight: bold;
}

.infocard-blurb {
    padding: 5%;
    background: white;
    color: white;
    text-shadow: 0em 0em .2em black;
    margin: auto;
    margin-bottom: 5%;
}


/*                      ---------------            Join Us Section          ----------------                          */

.joinus {
    height: auto;
}

.joinus-header {
    height: auto;
    width: 80%;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.joinus-headerimage, .joinus-headertext {
    position: relative;
}
.joinus-headerimage {
    top: -20%;
    right: 10%;
    z-index: 5;
}
.joinus-headertext {
    top: 0%;
    height: 2em;
    color: white;
    z-index: 6;
}