.recruit-section {
    padding-bottom: 5em;
}

.recruit-flex {
    display: flex;
    width: 80%;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-between;
}

.recruit-title {
    font-size: 2em;
    margin-top: 0px;
}

.recruit-flexbox {
    width: 30%;
}

.recruit-title-container, .recruit-text-container, .recruit-flexbox {
    text-align: center;
}

.recruit-text-container {
    min-height: 18em;
    padding: 1em;
}
.recruit-text {
    height: 16em;
}


.recruit-image-container {
    width: 100%;
    height: auto;
}

.recruit-image {
    width: 100%;
    height: auto;
}

