.expandedcard-grid {
    display: grid;
    grid-template-columns: 35% 35% 1fr;
    grid-template-rows: 40% 1fr;
    grid-template-areas: 
                "image info        button"
                "image description description";
    border: .2em solid #ba9fc5;
    overflow: hidden;
    height: 25em;
    max-height: 50em;
}

.expandedcard-imageflex {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80%;
    margin: 10% 4%;
    overflow: hidden;
}

.expandedcard-image {
    width: 100%;
    max-width: 15em;
    height: auto;
}

.expandedcard-info {
    grid-area: info;
}

.expandedcard-productname, .expandedcard-infotext {
    padding-left: 3%;
}

.expandedcard-productname {
    text-align: left;
    margin: auto;
    padding-top: .5em;    
}

.expandedcard-infotext {
    padding-top: .3em;
}

.expandedcard-button {
    grid-area: button;
    display: flex;
    justify-content: center;
    align-items: center;
}

#expandedcard-bookButton, #expandedcard-closeButton {
    font-size: 1.2em;
    padding: .3em 1em;
    width: 6em;
}

#expandedcard-bookButton {
    border-color: var(--secondary-green);
    background-color: var(--secondary-green);
    color: white;
}
#expandedcard-bookButton:hover {
    border-color: var(--main-accent-color);
    background-color: var(--main-accent-color);
    cursor: pointer;
}

#expandedcard-closeButton { 
    border-left: 0px;
    color: white;
}
#expandedcard-closeButton:hover {
    color: white;
    background-color: var(--main-accent-color);
    border-color: var(--main-accent-color);

}

#expandedcard-eye {
    height: 2em;
    fill: var(--main-accent-color);
    width: 2em;
    padding: .5em 0em .5em 1em;
}

.expandedcard-description {
    margin: 5% 2%;
    grid-area: description;
    height: 75%;
    overflow: auto;
    width: 92%;
    padding-right: 4em;
}


@media only screen and (max-height: 500px){
    .expandedcard-grid {
        height: 95vh;
        grid-template-areas: "image info button"
                            "image description description"
                            "image description description";
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 35% 50% 1fr;
        max-height: 45em;
    }

    .expandedcard-imageflex {
        margin: 1em;
        height: 100%;
    }

    .expandedcard-button {

    }
}

@media only screen and (max-width: 500px) {
    .expandedcard-grid {
        height: 95vh;
        grid-template-areas: "image"
                            "info"
                            "description"
                            "button";
        grid-template-columns: 1fr;
        grid-template-rows: 40% 20% 30% 1fr;
    }

    .expandedcard-productname {
        padding-top: 0em;
    }

    .expandedcard-image {
        padding: 1em 0em;
        height: 100%;
        width: auto;
    }

    .expandedcard-imageflex {
        margin: 0em;
        height: 100%;
    }
}

/* 
@media only screen and (max-height: 1000px) {
    .expandedcard-grid {
        height: 95vh;
    }
} */

@media only screen and (max-width: 800px) and (min-width: 501px) {
    .expandedcard-button {
        font-size: .9em;
    }

    .expandedcard-imageflex {
        margin: .2em;
        height: 100%;
    }

    .expandedcard-image {
        /* padding: .5em 0em; */
        height: 100%;
        width: auto;
    }

    .expandedcard-grid {
        height: 95vh;
        grid-template-areas: "image info"
                            "description description"
                            "button button";
        grid-template-columns: 35% 1fr;
        grid-template-rows: 40% 50% 1fr;
    }
}
