.book-section {
    width: 60%;
    margin: auto;
}

.book-section * {
    text-align: center;
}

.book-title{
    margin: auto;
    margin-top: 3%;
    color: rgb(72,31,75);
}

#book-button {
    margin-top: 1%;
    width: 100%;
    display: block;
}