.titleCard-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(198, 171, 210);
    background-image: url('../../../Pics/Landscapes/moonMountain.png');
    background-position: 0% 85%;
    background-repeat: no-repeat;
    background-size: 100%;
    height: 80vh;
    min-height: 115px;
    z-index: 1;
    width: auto;
}

.titleCard-flexitem {
    color: rgba(255,255,255,0.8);   
    margin: 0px;
    padding: 1em;
}

#titlecard-title {
    font-size: 3.6em;
}

#titlecard-subtext {
    font-size: 1.5em;
    font-family: Futura;
    color: #f1d9ab;
}

#titleCard-logo {
    display: block;
    margin: auto;
    height: 100vh;
    animation: fadeIn 2s forwards;
    animation-fill-mode: forwards;
    -webkit-animation: fadeIn 2s forwards;
    animation-timing-function: cubic-bezier(0.34, 0.58, 0.15, 0.95 );
    animation-delay: 500ms;
    opacity: 0%;
}
