.modalitem-grid {
    display: grid;
    grid-template-columns: 25% 1fr 1fr;
    grid-template-rows: 25% 1fr;
    grid-template-areas: 
                "image info        button"
                "image description description";
    border: .2em solid #ba9fc5;
    overflow: hidden;
}

.modalitem-imageflex {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modalitem-info {
    grid-area: info;
}

.modalitem-productname {
    margin: auto;
}

.modalitem-infotext {
    padding-left: 1em;
}

.modalitem-button {
    grid-area: button;
}

.modalitem-description {
    grid-area: description;
}