.joinus-signupcontainer {
    height: 10em;
}

.joinus-description {
    font-size: 1.5em;
    padding: 0em 1em;
    height: auto;    
    font-weight: bold;
    color: rgb(138, 164, 194);
}

#joinus-signuptext {
    text-align: left;
}

.joinus {
    width: 100%;
    margin: auto;
    height: auto;
}

.joinus-header {
    height: 15em;
    width: 100%;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin: auto;
}

.joinus-headerimage, .joinus-headertext {
    position: absolute;
}
.joinus-headerimage {
    width: 100%;
    top: -80%;
    right: 0%;
    z-index: 5;
}
.joinus-headertext {
    top: 25%;
    height: 1em;
    margin: 0em;
    color: white;
    z-index: 6;
    width: 100%;
}

.joinus-flex {
    display: flex;
    width: 80%;
    margin: auto;

}

.joinus-flexitem {
    text-align: center;
    width: 50%;
}

.joinus-scheduleheader{
    color: rgb(72,31,75);
}

.joinus-schedulebody {
    color: rgb(138, 164, 194);
    font-weight: bold;
    font-size: 2em;
}

.joinus-button {
    margin: 4em auto;
}
.joinus-button * p {
    width: 8em;
}