#joinus {
    background-image: url('../../../Pics/Landscapes/groupYoga.png');
    height: 80vh;
    min-height: 400px;
    background-position-y: 30%;
}

.joinus-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 100%;
}

.joinus-flexitem {
    width: 50%;
}

.joinus-lefttext {
    color: var(--white-seethrough);
    text-align: left;
    width: 80%;
    margin: auto;
}

#joinus-text {
    color: white;
}

#joinus-joinbutton {
    border: .1em solid;
    border-color: white;
    color: white;
    padding: .1em 2em;
    margin: 1em;
    border-radius: .5em;
    -webkit-border-radius: .5em;
    -moz-border-radius: .5em;
    -ms-border-radius: .5em;
    -o-border-radius: .5em;
}

#joinus-joinbutton:hover {
    border-color: var(--secondary-orange);
}