.offering-sectionmain {
    padding-bottom: 5em;
}

.offering-section-flex {
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
}

.offering-section-title {
    font-size: 2em;
    padding: 2em 0em;
    color: white;
}

.offering-section-flexbox {
    border: .1em solid #c7b3ce;
    width: 29%;
    padding-bottom: 2em;
}

.offering-section-title-container, .offering-section-text-container, .offering-section-flexbox {
    text-align: center;
}

#offering-yogasunrise, 
#offering-moonmountain, 
#offering-groupyoga {
    background-size: cover;
}

#offering-yogasunrise {
    background-image: url('../../../Pics/Landscapes/yogaSunrise_dark.jpg');
}

#offering-moonmountain {
    background-image: url('../../../Pics/Landscapes/diary_darkened.jpg');
}

#offering-groupyoga {
    background-image: url('../../../Pics/Landscapes/girlsInField_dark.jpg');
    background-position-x: 30%;
}

.offering-section-title-container {
    padding: 1em;
}

.offering-section-text-container {
    min-height: 7em;
    padding: 2.5em 1em;
}
.offering-section-text {
    font-size: 1.3em;
}

.offering-section-image-container {
    width: 100%;
    height: auto;
}

.offering-section-image {
    width: 100%;
    height: auto;
}

