.careersection {
    padding-bottom: 2em;
    background-color: rgb(185, 158, 197);
    text-align: center;
    margin: 2em 0em;
}

.career-title {
    padding: 1em 1em .5em 1em;
    margin: 0em;
}

.career-textcontainer {
    padding: 3em 2em;
}

.career-text {
    font-size: 1em;
    display: block;
    padding: .5em;
}