/*
  main - violet                         rgb(72,31,75)
  main complement - light purple        rgb(198, 171, 210)
  accent 1 - grey                       rgb(202, 201, 171)
  accent 2 - light blue                 rgb(183, 200, 219)
  accent 3 - light pink                 rgb(253, 229, 183)
  accent 4 - light orange               rgb(241, 199, 97)
*/

html {
  background: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
  margin: 0;
}

h1 {
  @font-face {
    src: url('./Fonts/Busorama-ITC-Std-Bold.woff');
  }
  font-family: Busorama-ITC-Std-Bold;
  font-size: 100px;
}

h2 {
  font-family: bivoac-reguler;
  src: url("./Fonts/bivoac-reguler.woff");
  font-family: biovac-reguler;

}

p {
  @font-face {
    font-family: bivoac-reguler;
    src: url("./Fonts/bivoac-reguler.woff");
  }

  font-family: biovac-reguler;
}

.blurb {
  padding: 5%;
  background: linear-gradient(60deg, rgb(72,31,75) 0%,  rgb(111, 138, 169) 100%);
  color: white;
  text-shadow: 1px 1px 5px black;
  border-radius: 20px;
  margin: auto;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
}

.title-container {
  height: 10%;
  text-align: center;
}


/*                        Animations         */
@keyframes fadeIn {
  from {opacity: 0}
  to {opacity: 1}
}

@keyframes modalBackgroundFadeIn {
  from{opacity: 0}
  to {opacity: .8}
}

@keyframes modalBackgroundFadeOut {
  from {opacity: .8}
  to {opacity: 0}
}

/*                        Test               */

.testPage {
  height: 50em;
}