html {
  background: yellowgreen;
}

.navLink {
  display: inline-block;
  margin: auto;
  padding: 10px;
}

.navBar {
  position: fixed;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
