.comingsoon {
    background-position: 50% 50%;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.comingsoon-heading, .comingsoon-subtext {
    text-shadow: 0em 0em 1em rgba(0,0,0,.5);
    color: white;
}

.comingsoon-heading {
    font-size: 4em;
}

.comingsoon-subtext {
    text-align: center;
    font-size: 2em;
    width: 50%;
    min-width: 15em;
}

@media only screen and (max-width: 680px) {
    .comingsoon-subtext {
        font-size: 1.2em;
    }

    .comingsoon-heading {
        font-size: 3em;
    }
}
