.event-calendar {
    margin: auto;
    min-height: 500px;
    height: 70vh;
    max-width: 100em;
}

 .rbc-event-content, .rbc-header {
     font-family: Futura;
}
    
.rbc-toolbar-label {
    font-family: bivoac-regular;
    color: var(--secondary-orange)
}

.rbc-toolbar {
    position: relative;
}

.rbc-header {
    padding: .5em 3px;
    color: var(--main-color);
    font-size: 100%;
}

.rbc-button-link {
    color: var(--main-accent-color);
    font-size: 1em;
}

.rbc-event {
    transition: background-color .5s ease-out;
    -webkit-transition: background-color .5s ease-out;
    -moz-transition: background-color .5s ease-out;
    -ms-transition: background-color .5s ease-out;
    -o-transition: background-color .5s ease-out;
}
.rbc-event:hover {
    background-color: var(--main-accent-color);
    color: white;
}

.rbc-btn-group {
    position: absolute;
    left: 0em;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.rbc-btn-group button{
    font-family: bivoac-regular;
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
    transition: background-color .5s ease-out, border-color .5 ease-out;
    -webkit-transition: background-color .5s ease-out, border-color .5 ease-out;
    -moz-transition: background-color .5s ease-out, border-color .5 ease-out;
    -ms-transition: background-color .5s ease-out, border-color .5 ease-out;
    -o-transition: background-color .5s ease-out, border-color .5 ease-out;
}
