.videosection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;  
    min-height: 22em;
}

 .videosection-textcontainer, .videosection-videocontainer {
    width: 40%;

}

.videosection-textcontainer {
    height: 100%;
    background-image: url('../../../Pics/Logos/sublogo-lightPurple.svg');
    background-size: 100%;
    background-position-y: 50%;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.videosection-video {
    border: 0px;
    display: block;
    height: 18em;
    width: 90%;
    margin: auto;
    text-align: center;
}

.videosection-text {
    font-size: 1em;
}

@media only screen and (max-width: 760px) {
    
    .videosection {
        padding-top: 2em;
        flex-direction: column;
        height: auto;
    }

    .videosection-videocontainer {
        width: 85%;
    }
    .videosection-textcontainer {
        background-size: contain;
        background-position-x: 50%;
        padding: 2em;
        width: 70%;
    }
}