.videosection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 30vh;  
    min-height: 22em;
}

 .videosection-textcontainer, .videosection-videocontainer {
    width: 40%;

}

.videosection-textcontainer {
    height: 100%;
    background-image: url('../../../Pics/Logos/sublogo-orange.svg');
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.videosection-video {
    display: block;
    height: 18em;
    width: 25em;
    margin: auto;
    text-align: center;
}

.videosection-text {
    font-size: 1em;
}